/* Reset de estilos padrão do navegador */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.pizza-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pizza-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
    text-align: center;
}

.pizza-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pizza-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #eee;
}

.pizza-card h3 {
    margin: 15px 0;
    font-size: 1.5em;
    color: #333;
}

.pizza-card p {
    padding: 0 15px;
    color: #666;
    font-size: 1em;
    margin: 0 0 15px;
}

.pizza-card button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    width: calc(100% - 20px);
    margin: 0 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.pizza-card button:hover {
    background-color: #c0392b;
}
/* Estilo responsivo para telas menores */
@media (max-width: 768px) {
    .pizza-item {
        width: calc(50% - 20px); /* Dois produtos por linha em telas médias */
    }
}

@media (max-width: 480px) {
    .pizza-item {
        width: 100%; /* Um produto por linha em telas pequenas */
        max-width: none;
    }
}
